<h4>タイムカード新規作成</h4><br>

<%= form_with(model: @time_card, local: true ) do |f| %>
  <% if @time_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= @time_card.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @time_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_day %>
    <%= f.date_field :work_day %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_field :start_time, include_seconds: false %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_field :end_time, include_seconds: false %>
  </div>

  <div class="field">
    <%= f.label :remarks %>
    <%= f.text_area :remarks %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="field">
    <%= f.submit "登録" %>
  </div>
<% end %>
